@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Caption:wght@700&family=PT+Sans+Narrow&display=swap');

@import url('components/card.css');
@import url('components/footer.css');
@import url('components/layout.css');

html {
  scroll-behavior: smooth;
}

body {
  background: #FBF9F5;
}

h1, h2, h3  {
  font-family: 'PT Sans Caption', sans-serif;
  color: #7C0B2B;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.banner {
  height: 450px;
  background-color: #7C0B2B;
  padding: 6em 8em;
  color: #ECEBE4;
}

.banner a {
  font-size: 20px;
  text-decoration: none;
  color: #ECEBE4;
}

.banner h1 {
  color: #ECEBE4;
}

.banner p {
  font-size: 24px;
}

.story-img {
  border-radius: 5px;
  height: 540px;
  background-size: cover;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

ul {
  list-style: none;
}

li a {
  transition: 0.3s;
}

li a:hover {
  text-decoration: none;
  color:  #FC5F6C;
}

ul {
 padding: 0;
}

@media only screen and (max-width: 1000px) {
  .story-sub {
    margin-top: 0.5em;
  }
}

@media only screen and (max-width: 680px) {
  .banner {
    padding: 4em 4em;
  }
}

@media only screen and (max-width: 440px) {
  .banner {
    padding: 2em 3em;
  }
}
